.wy-side-nav-search {
    background-color: #343131;
}

.wy-nav-top {
    background: #343131;
}

.highlight {
    border-radius: 4px;
    margin: 1em 0;
}

.sig.sig-object {
    border-left: 3px solid #e1e1e1;
    padding-left: 10px;
    margin: 5px 0;
}